* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
}

.sitewrapper {
    background-image: url('./bg.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 120%;
    min-height: 100vh;
    animation: animateBg 5s linear infinite;
    position: relative;
    z-index: -1;
    margin: 0 auto;
    padding-top: 40px;
}

#root {
    z-index: 10 !important;
    margin: 0 auto;
    padding: 0;
    width: 900px;
    align-items: center;
    text-align: center;
}

.App {
    color: white;
}

@keyframes animateBg 
{
    0%
    {
        transform: scale(1);
    }
    50%
    {
        transform: scale(1.03);
    }
}

.animation {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 
    0 0 0 4px rgba(255,255,255, 0.1),
    0 0 0 8px rgba(255,255,255, 0.1),
    0 0 20px rgba(255,255,255, 1);
    z-index: -9999;
    animation: animate 3s linear infinite;
}

.animation::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg, #fff, transparent);
}

@keyframes animate 
{
    0% {
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    68% {
        opacity: 0.7;
    }
    100% {
        transform: rotate(315deg) translateX(-1000px);
        opacity: 0;
    }
}

.animation:nth-child(1) {
    top: 25%;
    right: 70%;
    left: initial;
    animation-delay: 0s;
    animation-duration: 3s;

}

.animation:nth-child(2) {
    top: 0%;
    right: 300px;
    left: initial;
    animation-delay: 1s;
    animation-duration: 8s;
    
}

.animation:nth-child(3) {
    top: 50%;
    left: -300px;
    animation-delay: 1s;
    animation-duration: 4s;
    
}

.angle {
    animation: animateAngle 3s linear infinite;
}

.angle::before {
    width: 100px;
}

.short::before {
    width: 440px;
}

@keyframes animateAngle
{
    0% {
        transform: rotate(-220deg) translateX(0);
        opacity: 1;
    }
    30% {
        opacity: 0.3;
    }
    68% {
        opacity: 1;
    }
    100% {
        transform: rotate(-200deg) translateX(-1800px);
        opacity: 0;
    }
}

.redPercent {
    color: red;
}

.greenPercent {
    color: green;
}